
<form class="inline" method="post" action="/users/signin">
  <ul>
    Username: <input name="user" placeholder="username" type="text" value="<%= session[:user] %>">
  </ul>
  <ul>
    Password: <input name="password" placeholder="password" type="password" value="<%= session[:password] %>">
  </ul>
  <button type="submit">Sign in</button>
</form>
